
{% extends "wifi-main.html" %}


{% block head %}

    <title>{{employee.name}}</title>

{% endblock %}


{% block content %}

    <a href="{{ url_for('employees') }}">←Go back to list of Employees</a>
    <br /><br />
    <h1>Employee Details</h1>
    <hr />
    <div style="margin-left: 50px">
        <h2>{{employee.name}}</h2>
        <br />
        <div style="margin-left: 50px">
            <h4>RFID Card ID: <span style="color: rgb(67, 52, 201)">{{employee.cardID}}</span></h4>
            <br />
            <h4>Employee Status: <span style="color: rgb(67, 52, 201)">{{employee.status}}</span></h4>
            <br />
            <h4>Current Location: <span style="color: rgb(67, 52, 201)">{{employee.location}}</span></h4>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" charset="utf-8">
        function ab2str(buf) {
            return String.fromCharCode.apply(null, new Uint8Array(buf));
        }

        $(document).ready(function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            console.log('http://' + document.domain + ':' + location.port)

            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            socket.on('refresh', () => {
                console.log('Refresh!')
                location.reload()
            })
        });
    </script>

{% endblock %}