
{% extends "wifi-main.html" %}

{% block head %}
  <title>Sensors</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
{% endblock %}

{% block content %}
   <h1>Sensors - ESP8266 MQTT</h1>
   <hr />
   <h3>DHT Readings (updated <span id="readingsUpdated">#</span> seconds ago)</h3>
   <h3>Temperature: <span id="temperature"></span>ºC</h3>
   <h3>Humidity: <span id="humidity"></span>%</h3>
   <hr />
   <h3>Other Sensor Readings</h3>
   <a href={{ url_for('LCD_write') }}><button>Write to LCD</button></a>
   <h3>Remote RFID: <span id="remote_rfid" style="color:red;"></span></h3>
   <h3>Local RFID: <span id="local_rfid" style="color:red;"></span></h3>

   <script type="text/javascript" charset="utf-8">
      function ab2str(buf) {
        return String.fromCharCode.apply(null, new Uint8Array(buf));
      }
      $(document).ready(function() {
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        console.log('http://' + document.domain + ':' + location.port)
        socket.on('connect', function() {
          socket.emit('my event', {data: 'I\'m connected!'});
        });
        var updated;
        socket.on('refresh', () => {
          console.log('Refresh!')
          location.reload()
        })

        socket.on('dht_temperature', function(msg) {
          /*
          var nDate = new Date();
          var time = [nDate.getHours(), nDate.getMinutes(), nDate.getSeconds()];
          var text = '';
          for (var i=0; i<3; i++) {
            if (time[i].toString().length == 1) {
              time[i] = "0" + time[i]
            }
          }
          $('#readingsUpdated').text(time[0] + ":" + time[1] + ":" + time[2]).html();
          */
          clearInterval(updated);
          var seconds = 1;
          //bla++;
          updated = setInterval(function() {
            seconds++;
            $('#readingsUpdated').text(seconds);
          }, 1000);

          $('#temperature').text(ab2str(msg.data)).html();
        });
        socket.on('dht_humidity', function(msg) {
          $('#humidity').text(ab2str(msg.data)).html();
        });

        socket.on('remote_rfid', msg => {
          $('#remote_rfid').text(msg.data);
        });

        socket.on('local_rfid', msg => {
          $('#local_rfid').text(msg.data);
        });

      });
        
   </script>
{% endblock %}