
{% extends "wifi-main.html" %}


{% block head %}

    <title>Locations</title>

{% endblock %}


{% block content %}

    <a href="{{ url_for('homepage') }}">←Go back to Homepage</a>
    <br /><br />
    <h1>List of Locations:</h1>
    <hr />
    <ul style="margin-left: 50px">
        {% for loc in locations %}
            {% if loc.name != "On Campus" %} <!-- < REMOVE THIS -->
            <h3 style="display: inline-block; margin: 10px">
                <a href="{{ url_for('location', loc_name=loc.name) }}">
                
                {% if loc.name == "Gate" %}  <!-- < CHANGE THIS -->
                    On Campus
                {% else %}
                    {{loc.name}}    
                {% endif %}
                </a>
            </h3>
            <span style="font-size: 18px; color: purple">
                ( {{ loc.get_num_of_visitors() }} Employees inside )
            </span>
            <br />
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" charset="utf-8">
        function ab2str(buf) {
            return String.fromCharCode.apply(null, new Uint8Array(buf));
        }

        $(document).ready(function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            console.log('http://' + document.domain + ':' + location.port)

            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            socket.on('refresh', () => {
                console.log('Refresh!')
                location.reload()
            })
        });
    </script>

{% endblock %}