
{% extends "wifi-main.html" %}


{% block head %}

    <title>{{location.name}}</title>

{% endblock %}


{% block content %}

    <a href="{{ url_for('locations') }}">←Go back to list of Locations</a>
    <br /><br />
    <h1>Location Details</h1>
    <hr />
    <div style="margin-left: 50px">
        <h2>{{location.name}}</h2>
        <br />
        <div style="margin-left: 50px">
            <h3>Employees in Location:</h3>
            <br />
            <div style="margin-left: 50px">
                {% if location.employees |length == 0 %}
                    <h4 style="color: darkred">None</h4>
                {% endif %}
                {% for emp in location.employees %}
                <h4>
                    <a href="{{ url_for('employee', emp_name=emp.name) }}">
                        {{emp.name}}
                    </a>
                </h4>
                <br />
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" charset="utf-8">
        function ab2str(buf) {
            return String.fromCharCode.apply(null, new Uint8Array(buf));
        }

        $(document).ready(function() {
            var socket = io.connect('http://' + document.domain + ':' + location.port);

            console.log('http://' + document.domain + ':' + location.port)

            socket.on('connect', function() {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            socket.on('refresh', () => {
                console.log('Refresh!')
                location.reload()
            })
        });
    </script>

{% endblock %}